html {
  box-sizing: border-box;
  min-width: 400px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

nav {
  align-items: center;
  background-color: #2BC7FF;
  border: 1px solid grey;
  border-width: 0 0 1px 0;
  box-shadow: 0 1px 3px #44444466;
  display: flex;
  height: 70px;
}

nav h1 {
  margin-left: 50px;
  font-size: 25px;
}

#login-buttons {
  margin-left: auto;
  margin-right: 50px;
}

#user-token {
  display: flex;
}

#user-token p {
  margin: 8px 50px 6px auto;
  font-size: 14px;
}

.center-content {
  display: flex;
  justify-content: center;
}

.create-new-variable {
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
  width: 300px;
}

.create-new-variable h3 {
  margin: 10px;
}

.create-new-variable input[type="submit"] {
  margin: 10px auto;
}

.variables {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px;
}

.variable {
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0 5px 6px #44444466;
  padding: 20px;
  margin: 2px;
}

.variable:hover {
  margin: 0;
  box-shadow: 0 5px 10px #44444444;
}

.variable h3 {
  font-size: 28px;
  text-align: center;
  margin: 10px auto;
}

.variable form {
  margin: 10px auto;
  text-align: center;
}